<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <script src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/js/jquery-weui.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/city-picker.min.js"></script>
    <link rel="stylesheet" href="/static/css/weui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">

    <script src="/static/js/0fecce3c21.js"></script>

    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        .weui-btn_mini{
            font-size: 11px;
        }
    </style>

</head>

<body>

    {% block content %}

    {% endblock content %}

</body>

</html>